<article class="left-bar">
  <div class="clock">
    <article class="controls">
      <a class="start">Start</a>
      <a class="stop">Stop</a>
    </article>

    <article class="datetime">
      <section class="date">
        <span data-date-section="year"></span>
        <span data-date-section="month"></span>
        <span data-date-section="day"></span>
      </section>

      <section class="time">
        <span data-date-section="hours"></span>
        <span>00</span>
      </section>
    </article>
  </div>

  <div class="location-detail-controller-container">
  </div>
</article>

<article class="map"></article>

