<article class="left-bar">
  <article class="datetime">
    <section class="date">
      <span data-date-section="day"><%= @start_date.day %></span>
      <span data-date-section="month"><%= @start_date.strftime('%b') %></span>
      <span data-date-section="year"><%= @start_date.year %></span>
    </section>

    <section class="time">
      <span data-date-section="hours">00</span>
      :
      <span>00</span>
    </section>
  </article>

  <div class="timeline-container">
    <div class="frame">
      <div class="loaded"></div>
      <div class="played"></div>
    </div>
  </div>

  <ul class="controls is-stopped">
    <li class="prev"><i class="icon-step-backward"></i>Prev</li>
    <li class="play"><i class="icon-play"></i>Play</li>
    <li class="pause"><i class="icon-pause"></i>Pause</li>
    <li class="next"><i class="icon-step-forward"></i>Next</li>
  </ul>

  <div class="temp-scale-container">
    <div class="temp-scale"></div>
  </div>
</article>

<article class="map"></article>

