development:
  adapter: postgresql
  encoding: unicode
  database: weather_development
  host: localhost
  port: 5432
  pool: 5
  username: postgres
  password:
  min_messages: WARNING

test:
  adapter: postgresql
  encoding: unicode
  database: weather_test
  host: localhost
  port: 5432
  pool: 5
  username: postgres
  password:
  min_messages: WARNING
