@import 'colors';
@import 'mixins';

.datetime {
  .date {
    font-size: 1.8em;

    span {
      @include text-shadow;
      display: inline-block;
      padding: 0 6px;
    }
  }

  .time {
    font-size: 5em;

    span:first-child:after {
      content: ':';
    }

    span {
      @include text-shadow;
      display: inline-block;
      width: 88px;
      padding: 0 10px;
    }
  }

  .date, .time {
    @include panel;
  }
}
