@import 'colors';
@import 'mixins';

.datetime {
  .date {
    @include text-shadow;
    font-size: 1.8em;
  }

  .time {
    @include text-shadow(3px);
    font-size: 6em;
  }

  .date, .time {
    @include panel;
    text-align: center;
  }
}
