/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require _font-awesome
 *= require_self
 *= require_tree .
 */


.clock.is-stopped {
  .start {
    display: inline;
  }

  .stop {
    display: none;
  }
}

.clock.is-started {
  .start {
    display: none;
  }

  .stop {
    display: inline;
  }
}

.uk-path {
  fill: #fff;
  stroke: #111;
}

path.cell {
  stroke: #fff;
  stroke-width: 0;
}

path.cell:hover {
  stroke: whitesmoke;
  stroke-width: 1px;
  cursor: pointer;
}

.voronoi-map-layer {
  position: absolute;
}

