.left-bar {
  width: 280px;
  border-right: 1px solid #222;
}

.map {
  width: 800px;
  border-left: 1px solid #444;
}

.right-bar {
  width: 240px;
}

.wrapper {
  width: 1280px;
}

.left-bar, .right-bar, .map {
  float: left;
  height: 600px;
}
